@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #081b29;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}
a {
    color: #3fadd8;
}
h1 {
    text-align: center;
    position: relative;
    background: transparent;
    color: #c6cfd4;
    text-transform: uppercase;
}
h1::before {

    content: attr(data-text);
    text-align: justify;
    width: 0;
    left: 1;
    height: 100%;
    position: absolute;
    color: #72e3ff;
    -webkit-text-stroke: 0vw #000000;
    border-right: 2px solid #3fadd8;
    overflow: hidden;
    animation: animate 6s linear infinite ;
}

@keyframes animate {
    0%,50%,100%
    {
        width: 0%;
    }
    70%,90%
    {
        width: 39.5%;
    }
    
}
.First {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: rgb(60, 114, 165);
}
.Seconnd {
    margin: 0%;
    padding: 0 50px;
    text-align: center;
    align-items: center;
   
}
.nana {
    box-sizing: border-box;
}

.happy {
    color: antiquewhite;
    align-items:baseline;
    padding: 0 2%;
    max-width: 30rem;
    float: left;
    margin: 0%;
    margin-top: 85px;
}
.sad {
    color: aqua;
    align-items:baseline;
    padding: 0 2%;
    max-width: 30rem;
    float: left;
    margin: 0%;
    margin-top: 85px;
}
.img1 {
    float: left;
}
